.about {
    @extend %inner-container;
}

.about--section {
    @extend %section-spacing;
    box-sizing: border-box;

    h1 {
        color: $light;
    }
    h2 {
        font-size: $xl-size;
        margin: 0;
        color: $light;
    }
    h3 {
        color: $light;
    }
    h4 {
        color: $light;
    }
    a {
        color: $light;
    }
    p {
        font-size: $m-size;
        color: $light;
    }
}

.about--section-intro {
    min-height: 100vh;
    // height: calc(var(--vh, 1vh) * 100);
    padding: 15rem 0 0 0;

    h3 {
        font-size: $m-size * 1.1;
        color: $highlight;
    }
    
    h1 {
        font-size: $xl-size * 1.3;
        margin: 0 0 1rem 0;
        color: rgb(248, 250, 248);
    }

    h2 {
        font-size: $xl-size * 1.3;
        color:rgba(236, 240, 236, 0.8);
    }

    p {
        margin-top: 3rem;
        max-width: 52rem;
        width: 100%;
        color: rgba(236, 240, 236, 0.6);
        line-height: 2.6rem;
    }

    button.contact__button {
        margin-top: 2rem;
        width: 12rem;
    }
}

// .about--section-aboutme {
//     padding-top: 0;
// }

.aboutme-wrapper {
    display: flex;
}

.aboutme--text {
    flex: 3;
    padding-right: 3rem;

    p {
        margin-top: 3rem;
        color: rgba(236, 240, 236, 0.6);
        line-height: 2.6rem;
    }
}

.aboutme--image {
    flex: 2;
    
    img {
        margin-left: 2rem;
        width: 80%;
        height: 100%;
        object-fit: cover;
        border-radius: 5px;
        box-shadow: rgba(0, 0, 0, 0.2) 0px 2px 4px -1px,
        rgba(0, 0, 0, 0.14) 0px 4px 5px 0px,
        rgba(0, 0, 0, 0.12) 0px 1px 10px 0px;
    }
}


@media only screen and (max-width : 415px) {
    .about--section-intro {
        h1 {
            font-size: $xl-size * 0.8;
        }
        h2 {
            font-size: $xl-size;
        }
    }

    .aboutme-wrapper {
        flex-direction: column;

        div:first-child {
            padding-right:0;
        }

        & > div {
            flex: 1;
        }

        img {
            margin: 0;
            margin-top: 2rem;
        }
    }

    .aboutme--text {

        h2 {
            font-size: $xl-size;
        }
    }
    
}

@media only screen and (min-device-width : 768px) and (max-device-width : 1024px) and (orientation : portrait) {
    .about {
        max-width: 900px;
    }
}

@media only screen and (max-device-width : 768px) {
    .aboutme-wrapper {
        flex-direction: column;

        div:first-child {
            padding-right: 0;
        }

        &>div {
            flex: 1;
        }

        img {
            margin: 0;
            margin-top: 2rem;
            max-width: 30rem;
        }
    }
}