.about {
    @extend %inner-container;
}

.about--section {
    @extend %section-spacing;

    h2 {
        font-size: $xl-size;
        margin: 0;
    }
    p {
        font-size: $m-size;
    }
}

.about--section-intro {
    min-height: 100vh;
    padding: 15rem 0 0 0;
    
}

.about--section-aboutme {
    padding-top: 0;
}