.about {
    max-width: 700px;
    width: 100%;
    margin: auto;
}

.about--section {
    display: flex;
    padding:10rem 2.5rem 10rem 2.5rem;

    h2 {
        font-size: $xl-size;
        margin: 0;
    }
    p {
        font-size: $m-size;
    }
}

.about--section-intro {
    min-height: 100vh;
    padding: 15rem 2.5rem 0rem 2.5rem;
}

.about--section-aboutme {
    padding-top: 0;
}