.contact {
    @extend %inner-container;
    @extend %section-spacing;
    box-sizing: border-box;

    h1 {
        color: $light;
    }

    h2 {
        color: $light;
    }

    h3 {
        color: $light;
    }

    h4 {
        color: $light;
    }

    a {
        color: $light;
    }

    p {
        color: $light;
    }

    label {
        color: $light;
    }
}

.contact__subtitle {
    text-align: center;
    margin: 0;
    margin-bottom: 1rem;
    font-size: $m-size;
    color: $highlight !important;
}

.contact__title {
    text-align: center;
    font-size: $xl-size;
    margin: 0;
}

.contact__text {
    text-align: center;
    max-width: 500px;
    width: 100%;
    margin: auto;
    font-size: $m-size;
    padding: 2rem 0 3rem 0;
}

.contact__button {
    @extend %contact-button;
}


.contact-wrapper {
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;

    a {
        margin: auto;
    }
}