.experience-container {
    margin-top: 4rem;
    display: flex;
}

.experience__job--title {
    flex-grow: 1;
    margin-right: 3rem;
}

// .job--title__container {
//     font-size: $m-size * 0.9;
//     width: 16rem;
//     padding: 1.4rem 0 1.4rem 0;
//     cursor: pointer;
//     font-weight: 550;
//     border: none;
//     background: none;
//     border-left: solid 0.4rem black;
//     transition-property: background;
//     transition-duration: 0.15s;
//     transition-timing-function: ease-in-out;
// }
// .job--title__container:hover {
//     background: rgb(196, 196, 196);
// }


.experience__job--description {
    flex-grow: 2;
    
    h3 {
        display: inline;
        font-size: $l-size * 0.6;
        padding-right: 1rem;
    }

    h4 {
        font-size: $m-size;
        margin: 1rem 0 1rem 0;
    }

    li {
        margin: 0;
        margin-top: 2.5rem;
        font-size: $m-size;
    }
}

.experience__job--skills {
    flex-grow: 1;
    margin-left: 4rem;
    padding: 2rem 4rem 2rem 4rem;
    background: rgb(232, 232, 232);
    border-radius: 5px;
    box-shadow: rgba(0, 0, 0, 0.2) 0px 2px 4px -1px,
    rgba(0, 0, 0, 0.14) 0px 4px 5px 0px,
    rgba(0, 0, 0, 0.12) 0px 1px 10px 0px;

    h3 {
        font-size: $l-size;
        margin: 0;
        padding-bottom: 1.4rem;
        color: $dark;
    }

    ul {
        margin: 0;
        padding:0;

        li {
            list-style: none;
            font-size: $m-size;
            padding-bottom: 0.8rem;
        }
    }
}



@media only screen and (max-width : 924px) {
    .experience-container {
        flex-direction: column;
    }

    .experience__job--skills {
        margin: 0;
        margin-top: 3rem;
    }

}

@media only screen and (max-width : 415px) {
    .experience-container {
        flex-direction: column;
    }

    .joblist-Mobile {
        display: flex;
        flex-direction: column;
    }

    .joblist-Desktop {
        display: none;
    }


    .experience__job--description {
        flex: 1;
    }

    .experience__job--skills {
        flex: 1;
        margin: 0;
    }

    .MuiPaper-root {
        margin-bottom: 3rem;
    }

    .MuiButtonBase-root[type="button"] {
        font-size: $m-size * 0.8 !important;
        font-weight: 550 !important;
        background: none !important;
        transition-property: background !important;
        transition-duration: 0.15s !important;
        transition-timing-function: ease-in-out !important;
    }

    .MuiButtonBase-root[type="button"]:hover {
        background: rgb(196, 196, 196) !important;
    }

}

@media only screen and (min-width : 415px) {
    .joblist-Mobile {
        display: none;
    }

    .joblist-Desktop {
        display: flex;
    }

}

