.main-container {
    display: flex;
    flex-direction: column;
    width: 100%;
    margin-left: 35rem;
    transition-property: margin-left;
    transition-duration: 0.8s;
    transition-timing-function: ease-in-out;
    padding: 0 2.5rem 0 2.5rem;
    box-sizing: border-box;
    // height: calc(var(--vh, 1vh) * 100);
}

@media only screen and (max-width : 1024px) {
    .main-container {
        margin: 0;
    }
}
