.sidebar {
    background-color: lightblue;
    min-height: 100vh;
    max-width: 35rem;
    width: 100%;
    
    margin-left: 0;
    transition-property: margin-left;
    transition-duration: 0.8s;
    transition-timing-function: ease-in-out;

    position: fixed;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    box-sizing: border-box;
    padding: 2rem;

}

.sidebar--top-container {
    display: flex;
    justify-content: space-between;
}

.top-container__social-list {
    display: flex;
    flex-direction: column;
}

.sidebar--mid-container {
    display: flex;
    flex-direction: column;
    align-items: flex-end;
}

.mid-container__navigation-list {
    display: flex;
    flex-direction: column;
    text-align: right;

    & a {
        padding-bottom: $xl-size;
    }
}

.mid-container__toggle-btn {
    & a {
        @extend %button;
    }
}

.sidebar--bottom-container {
    
}



// Sidebar Open/Close
.sidebar--close {
    margin-left: -35rem;
}
.main-container--center {
    margin-left: 0rem;
}

.sidebar-toggle {
    position: absolute;
    top:50%;
    left: 0;
    margin-left: -5rem;
    @extend %button;
    transition-property: margin-left;
    transition-duration: 0.6s;
    transition-timing-function: ease-out;
    transition-delay: 0s;
    position: fixed;
}

.sidebar-toggle-open {
    margin-left: 5rem;
    transition-delay: 0.6s;
}