.sidebar {
    background-color: $light;
    min-height: 100vh;
    max-width: 35rem;
    width: 100%;
    
    margin-left: 0;
    transition-property: margin-left;
    transition-duration: 0.8s;
    transition-timing-function: ease-in-out;

    position: fixed;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    box-sizing: border-box;
    padding: 2rem 2rem 2rem 3rem;

}

.sidebar--top-container {
    display: flex;
    justify-content: space-between;
}

.top-container__social-list {
    display: flex;
    flex-direction: column;

    a {
        font-size: 2.5rem;
        padding-bottom: 2rem;
        cursor: pointer;
        color: $dark;
    }
}

.sidebar--mid-container {
    display: flex;
    flex-direction: column;
    align-items: flex-end;
}

.mid-container__navigation-list {
    display: flex;
    flex-direction: column;
    text-align: right;

    & a {
        padding-right: 5px;
        padding-bottom: $xl-size;
        font-size: $m-size * 0.8;
        font-weight: 500;
        cursor: pointer;
        transition-property: color;
        transition-duration: 0.2s;
        transition-timing-function: ease-in-out;
        color: $dark;
    }

    & a:hover {
        color: #949494;
    }
}

.mid-container__toggle-btn {
    & a {
        @extend %button;
        color: $light;
        background: $dark;
    }
}

.sidebar--bottom-container {
    display: flex;
    flex-direction: column;
    justify-content: left;
    font-size: $m-size;

    a {
        font-weight: 600;
        color: $dark;
    }

    p {
        color: $dark;
    }

    .bottom-container__resume {
        @extend %contact-button;
        margin: 0;
        margin-bottom: 2rem;
        color: $dark;
        border-color: $dark;
    }
}

@media only screen and (max-width : 1223px) {
    .sidebar {
        display: none;
    }
    .sidebar-toggle {
        display: none;
    }
}

