.work-project {
    display: flex;
    margin-bottom: 5rem;

}

// .work-project:nth-child(even) {
//     flex-direction: row-reverse;
// }

.project--image-container {
    max-width: 55rem;

}

.project__image {
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.project--text {
    padding: 0 0 0 2rem;
    text-align: right;

}

// .project--text:nth-child(even) {
//     padding: 0 2rem 0 0;
//     text-align: left;
// }

.project--text__subtitle {
    font-size: $m-size;
    margin: 0;
    color: $highlight !important;
}

.project--text__title {
    font-size: $l-size * 0.9;
    margin: 1rem 0 0 0;
}

.project--text__description {
    max-width: 40rem;
    width: 100%;
    font-size: $m-size;
    margin-left: auto;
    padding: 1.7rem 0;
}

// .project--text__description:nth-child(even) {
//     margin-left: 0;
//     margin-right: auto;
// }

.project--text__tool {
    padding:2rem 0 0 1.8rem;
    font-size: $m-size * 0.9;
    font-weight: 600;
}

.project--text__icon {
    font-size: 3.3rem;
    color:$highlight;
    padding:2rem 0 0 1.5rem;
    transition-property: color;
    transition-duration: 0.2s;
}
.project--text__icon:hover {
    color: lighten($highlight-hover, 25%);
}

@media only screen and (max-width : 1023px) {
    .work-project {
        position: relative;
        margin-bottom: 2.5rem;
    }

    .project--image-container {
        position: absolute;
        height: 100%;
        width: 100%;
        max-width: 100%;
    }

    .project__image {
        border-radius: 5px;
    }

    .project--text {
        z-index: 10;
        padding: 3rem 1rem 3rem 2rem;
        text-align: left;
        border-radius: 5px;
        width: 100%;
        background: rgba(240, 230, 140, 0.672);
    }

    .project--text__description {
        margin-left: 0;
    }
}