.work-header {
    margin:0 0 3rem 0;
}

.work__title {
    font-size: $xl-size;
    margin-bottom: 0;
}

.work__subtitle {
    font-size: $m-size + 0.2rem;
    color: $highlight !important;
}

.work-header--toggle-section {
    display: flex;
    align-items: center;
}

.work-button {
    @extend %button;
    margin: 0 1rem;

    svg {
        color: $dark;
        transition: all 0.2s ease-in;

        &:hover {
            color: $light;
        }
    }
}

.button-icon {
    font-size: $l-size * 1.25;
    
}

.toggle-section__text {
    font-size: $l-size * 0.8;
}

@media only screen and (max-width : 415px) {
    .work-header {
        margin-bottom: 4rem;
    }

    .toggle-section__text {
        font-size: $m-size;
    }
}