.work-graphic {
    // display: none;
}

.ReactGridGallery_tile-viewport {
    height: 240px !important;

    img {
        object-fit: cover;
        width: 100% !important;
        height: 100% !important;
        margin-left: 0 !important;
    }

}