.work-header {
    padding:10rem 0 3rem 0;
}

.work__title {
    font-size: $xl-size;
    margin-bottom: 0;
}

.work__subtitle {
    font-size: $m-size + 0.2rem;
}

.work-header--toggle-section {
    display: flex;
    align-items: center;
}

.work-button {
    @extend %button;
    margin: 0 1rem;
}

.work--header-icon {
    font-weight: 700;
    font-size: $m-size;
}