.work-header {
    padding:10rem 0 3rem 0;
}

.work__title {
    font-size: $xl-size;
    margin-bottom: 0;
}

.work__subtitle {
    font-size: $m-size + 0.2rem;
}

.work-header--toggle-section {
    display: flex;
    align-items: center;
}

.work-button {
    @extend %button;
    margin: 0 1rem;
}

.button-icon {
    font-size: $l-size * 0.9;
    
}

.toggle-section__text {
    font-size: $l-size * 0.8;
}