html {
    font-size: 62.5%;
}

body {
    font-family: Helvetica, Arial, sans-serif;
    overflow-x: hidden;
}

.highlight {
    color: $highlight !important;
}

p {
    color: rgba(236, 240, 236, 0.7) !important;
    line-height: 2.6rem !important;
}