// Sizes
$s-size: 1.2rem;
$m-size: 1.6rem;
$l-size: 3.2rem;
$xl-size: 4.8rem;

// colors
$dark: #1B1B1B;
$light: white;
$highlight: #FFD700;

// Placeholders
// button
%button {
    display: flex;
    align-items: center;
    justify-content: center;
    background: $light;
    color: $dark;
    border-radius: 50%;
    width: $xl-size;
    height: $xl-size;
    cursor: pointer;

    &:hover {
        background: $dark;
        color: $light;
    }
} 

// container
%inner-container {
    max-width: 1000px;
    width: 100%;
    margin: auto;
}

// Section Spacing
%section-spacing {
    // display: flex;
    padding:10rem 0 10rem 0;
}

// Contact Button
%contact-button {
    text-align: center;
    border: solid 2px $light;
    color: $light;
    width: 10rem;
    margin: auto;
    border-radius: 5px;
    padding: 1.5rem 0 1.5rem 0;
    font-size: $m-size * 0.9;
    font-weight: 600;
    cursor: pointer;
    background: none;
    transition-property: background;
    transition-duration: 0.2s;
    transition-timing-function: ease-in-out;

    &:hover {
        background: rgb(189, 189, 189);
    }
}
