// Sizes
$s-size: 1.2rem;
$m-size: 1.6rem;
$l-size: 3.2rem;
$xl-size: 4.8rem;

// colors
$dark: #0E1619;
// #1B1B1B
$light: rgb(248, 250, 248);
$highlight: #fff07b;
$highlight-hover: #d6c964;
// #f7e375
// #e1c62c
// #FFD700

// Placeholders
// button
%button {
    display: flex;
    align-items: center;
    justify-content: center;
    background: $light;
    color: $dark;
    border-radius: 50%;
    width: $xl-size;
    height: $xl-size;
    cursor: pointer;
    transition: all 0.2s ease-in;

    &:hover {
        background: $dark;
        color: $light;
        box-shadow:inset 0 0 3.9px lighten($light, 20%);
    }
} 

// container
%inner-container {
    max-width: 1000px;
    width: 100%;
    margin: auto;
}

// Section Spacing
%section-spacing {
    // display: flex;
    padding:10rem 0 10rem 0;
}

// Contact Button
%contact-button {
    text-align: center;
    border: solid 2px $highlight;
    color: $highlight;
    width: 10rem;
    margin: auto;
    border-radius: 5px;
    padding: 1.5rem 0 1.5rem 0;
    font-size: $m-size * 0.9;
    font-weight: 600;
    cursor: pointer;
    background: none;
    transition-property: all;
    transition-duration: 0.2s;
    transition-timing-function: ease-in-out;

    &:hover {
        background: $highlight-hover;
        border-color: $highlight-hover;
        color: $dark;
    }
}
